@use '../../foundation/setting' as *;
@use '../../foundation/functions' as *;
@use '../../foundation/mixin' as *;

// ドットリスト
.u-list-dot {
  list-style: none;

  li {
    padding-left: calc(1em + 4px);
    position: relative;

    &::before {
      content: '・';
      position: absolute;
      left: 0;
    }
  }
}

// 注釈リスト
.u-list-note {
  list-style: none;

  li {
    font-size: fz(14);
    padding-left: calc(1em + 4px);
    position: relative;

    &::before {
      content: '※';
      position: absolute;
      left: 0;
    }
  }
}

// 番号付きリスト
.u-list-number {
  list-style: none;
  counter-reset: number;

  li {
    counter-increment: number;
    font-size: fz(16);
    padding-left: calc(1em + 4px);
    position: relative;

    &::before {
      content: counter(number) '.';
      position: absolute;
      left: 0;
    }
  }
}
